@charset "utf-8";

* { box-sizing: border-box; }

/* Set Up Fonts */

@font-face {
  font-family: Questrial;
  src: url(fonts/Questrial-Regular.ttf);
}

@font-face {
  font-family: Inconsolata;
  src: url(fonts/Inconsolata-VariableFont_wdth,wght.ttf);
}

/* Main font assignments */

h1, h2, h3 {
  font-family: Questrial, "Century Gothic", sans-serif;
}

p, li {
  font-family: Georgia, serif;
  font-size: 1.15em;
}

code, samp, pre, kbd, th, td {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 1.25em;
  font-weight: normal;
}

/* Common webpage areas */

body {
  width: 75vw;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Minimize margins when printed */
@media print {
  body {
    width: 100%;
  }
}

header {
  background-color: rgba(48, 48, 48, 1.0);
  padding: 15px; 
}

main {
  background-color: rgba(255, 255, 255, 1.0);
  padding: 0px; 
}

footer {
  background-color: rgba(192, 192, 192, 1.0);
  padding: 15px; 
}

/* Navigation Tiles */
.tile {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px; 
  padding: 10px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.slimtile {
  display: inline-block;
  position: relative;
  min-width: 120px;
  padding: 10px;
  margin-left: 0px;
  margin-right: 5px;
}

.tile  a {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  font-size: 1.25em;
  font-family: Questrial, "Century Gothic", sans-serif;
  text-decoration: none;
}

.slimtile  a {
  color: white;
  font-size: 1.25em;
  font-family: Questrial, "Century Gothic", sans-serif;
  text-decoration: none;
}

.tile  a:hover, .slimtile  a:hover {
  text-decoration: underline;
}

@media print {
  .tile  a { color: black; text-decoration: underline; }
  .slimtile  a { color: black; text-decoration: underline; }
}

.homepage    { background-color: darkgray; }
.allcubes    { background-color: blue; }
.collections { background-color: darkorange; }
.articles    { background-color: darkgreen; }
.links       { background-color: darkred; }
.contact     { background-color: indigo; }

/* Synopsis boxes (collections, articles, etc.) */

.synopsis {
  display: inline-block;
  width: calc(50% - 10px);
  min-width: 300px;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.synopsis:hover {
  background-color: rgba(239, 239, 239, 1.0);
}

.synopsis  .synheading {
  font-family: Questrial, "Century Gothic", sans-serif;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

.synopsis  .syndata {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 1.15em;
}

/*
.synopsis:after {
  clear: both;
  
}
*/

/* Ad-hoc styles (highlight, late-breaking, figures/data etc.) */

hr {
  color: rgba(48, 48, 48, 1.0);
  height: 1px;
}

.assocdata {
  border: 1px solid gray;
  padding: 2px;
}

.latebreaking {
  border: 1px solid gray;
  background-color: yellow;
}

@media print {
  .latebreaking { background-color: white; font-weight: bold; }
}

footer  p {
  font-size: 1.0em;
}

code.mfdb {
  font-size: inherit;
}

pre.lastupdated {}

/* Homepage/Index styles */

#logomain {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#logoslim {
  display: block;
  width: 200px;
}

#top {
  background-color: rgba(48, 48, 48, 1.0);
  padding: 15px;
}

#homecenter {
  text-align: center;
}

header h1 {
  text-align: center;
  color: rgba(255, 255, 0, 1.0);
}

#lastupdated {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 1em;
}
