@charset "utf-8";

#cubeview {
  display: block;
  float: left;
  margin-left: 0px;
  margin-right: 10px;
  width: 40%;
  min-width: 180px;
  max-width: 400px;
}

/* Cube Information Display Styles */

#cubemain {
  width: 100%;
}

h1#cubename {
  font-family: Questrial, "Century Gothic", sans-serif;
  font-size: 2em;
  color: black;
  margin-bottom: 0em;
}

#cubemake {
  color: rgba(64, 64, 64, 1.0);
}

#cubemodel { 
  color: white; 
  background-color: black;
  border: 1px solid rgba(64, 64, 64, 1.0);
  padding-left: 5px;
  padding-right: 5px;
}

@media print {
  #cubemodel { color: black; background-color: white; border: 1px solid black; }
}

#cubeedition {
  text-decoration: underline;
}

p#cubeids {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 1.5em;
  color: rgba(32, 32, 32, 1.0);
  margin-top: 0em;
  margin-bottom: 0em;
}

#cubemodelno {
  font-weight: bold;
}
#cubeyear {}

/* Writeup (main article styles) */

#writeup {}

#writeup:after {
  content: "";
  display: table;
  clear: both;
}

.writeupref {
  /* border: 2px solid rgba(255, 0, 128, 1.0); */
  background-color: rgba(192, 0, 128, 0.5);
  padding-left: 1em;
}

.writeupref  * {
  font-family: Inconsolata, Consolas, monospace;
}

.writeupref  a {
  background-color: rgba(128, 0, 255, 1.0);
  color: white; 
  font-weight: bold;
  text-decoration: none;
}

/* Make the writeup link visible when printed */
@media print {
  .writeupref  a { color: black; text-decoration: underline; }
}

/* Specifications (specs) Tables */

#cubespecs {
  width: 100%;
}

#cubespecs  table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

#cubespecs  caption {
  margin-top: 1em;
  text-align: left;
  font-family: Questrial, "Century Gothic", sans-serif;
  font-size: 1.2em;
  text-decoration: underline;

}

#cubespecs  tr {
  border-bottom: 1px solid gray;
}

#cubespecs  tr:hover {
  background-color: rgba(239, 239, 239, 1.0);
}

#cubespecs  th {
  width: 30%;
  padding-right: 0.5em;
  color: black;
  font-family: Questrial, "Century Gothic", sans-serif;
  font-size: 1.0em;
  font-weight: normal;
  text-align: right;
  vertical-align: top;
  /* white-space: nowrap; */
  overflow-x: hidden;
}

#cubespecs  td {
  width: 70%;
  padding-left: 0.5em;
  color: black;
  font-family: Inconsolata, Consolas, monospace;
  font-size: 1.15em;
  text-align: left;
  vertical-align: top;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Specific Tables (booleans and details) */ 

#nomenclature {
  display: table;
}

#booleans {
  display: table;
}

#details {
  display: table;
}



/* Photo Thumbnail Gallery */

#gallery {
  display: block;
  width: 100%;
  border: 2px solid darkgray;
  background-color: aliceblue;
  padding: 5px;
}

.photocard {
  display: inline-block;
  width: 180px;
  vertical-align: top;
}


.photocard  img {
  width: 180px;
  margin: 0px;
  padding: 0px;
}

.photocard  .capt {
  width: 180px;
  margin: 0.1em;
  font-size: 0.95em;
  font-family: Questrial, "Century Gothic", sans-serif;
  color: black;
  text-align: left;
}

/* Make photo cards smaller when printed */
@media print {
  .photocard        { width: 120px; }
  .photocard  img   { width: 120px; }
  .photocard  .capt { width: 120px; }
}
