@charset "utf-8";

/* Cube Thumbnail Gallery */

#cubegallery {
  display: block;
  width: 100%;
  padding: 5px;
}

.cubecard {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  border: 2px solid blue;
  padding: 5px;
  margin: 5px;
}

.cubecard:hover {
  background-color: rgba(224, 224, 255, 1.0);
}

.cubecard  a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.cubecard  img {
  width: 180px;
  margin: 0px;
  padding: 0px;
}

.nameline {
  width: 186px;
  font-family: Questrial, "Century Gothic", sans-serif;
  font-size: 1.1em;
  color: black;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Display the full name line when moused over */
.nameline:hover {
  overflow: visible;
  white-space: normal;
}

.modelline {
  width: 186px;
  margin: 0.1em;
  font-family: Inconsolata, Consolas, monospace;
  font-size: 1em;
  color: black;
  text-align: left;
}

/* Make cube cards smaller when printed and on smaller screens */

@media print {
  .cubecard { width: 150px; }
  .cubecard  img { width: 140px; }
  .nameline { width: 150px; }
  .modelline { width: 150px;  }
}

@media screen and (max-width: 565px) {
  .cubecard { width: 150px; }
  .cubecard  img { width: 140px; }
  .nameline { width: 150px; }
  .modelline { width: 150px; }
}

/* Jewel thumbnail for Collections page */

.jewel {
  float: right;
  width: 150px;
}

.collcontainer:after {
  content: "";
  display: table;
  clear: both;
}

